.snakemake
*.out
data/
01_trimming/
02_tRNA_alignment/
02_tRNA_alignment/stats/
03_tRNA_counts/
04_smRNA_counts/
05_normalized/
06_PCA/
07_rds_files/
08_plots/
09_QC/
code/MM_Working_Scripts/
code/test/
QC/
plots/
code/*.pyc
code/*.pdf
code/*.txt
code/__pycache__/*
normalized/
PCA/
*.out
benchmarks/


