.snakemake
*.out
data/
trimming/
alignment/
unaligned/
tRNA_alignment/
tRNA_unaligned/
tRNA_alignment_stats/
tRNA_counts/
tRNA_index/
smRNA_counts
genome_alignment/
genome_filtered/
genome_counts/
code/MM_Working_Scripts/
code/test/
QC/
plots/
code/*.pyc
code/*.pdf
code/*.txt
code/__pycache__/*


